body {
	background-color: #0d1f19;
	color: #00FF00;
	font-family: "Courier New", monospace;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center; /*centrar horizontalmente*/
}

/*--------------------Barra de navegacion--------------------------*/
nav { /*Barra de navegacion base*/
	margin: 20px;
	border-style: dashed solid;
	border-color: #00FF00;
	font-family: "Courier New", monospace;
	font-size: x-large;
	display: flex;
	gap: 40px; /*espacio entre los items*/
	justify-content: center; /*centrar el contenido*/
        padding: 10px;

}
nav a{
        color: #00FF00;
	text-decoration: none;

}
nav a:hover {	
	background-color: #00FF00;
	color: black;
	text-shadow: none;
}

/*--------------------Titulo principal--------------------------*/
h1{
	font-size: 3.5em;
}

/*------------------Seccion sobre mi----------------------------------*/
#sobre_mi {
        margin: 50px 50px 0 50px;
	display: flex;
	align-items: center;
	gap: 50px; /*espacio entre los items dentro de la caja*/
	justify-content: center;
}
#Sobre_mi .fotoMy img {
        max-width: 500px;
	border: 3px solid #00FF00;
	padding:5px
}
#Sobre_mi .textoIntroduccion h3{
        font-size: 2em;
}

/*-------------------Conocimientos------------------------------------*/
#conocimientos { 
        text-align: center;
	margin: 50px 50px 0 50px;
}
#conocimientos .categoria {
        margin-bottom: 50px; /*espacio de la parte inferior*/
}
#conocimientos h2{
	font-size: 2em;
}
#conocimientos h3{
        margin-bottom: 20px;
	font-size: 1.5em;
}
#conocimientos .categoria .imagenes{
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap; /*para que se acomode en pantallas pequeñas*/
}
#conocimientos .categoria img{
        width: 80px;
	height: auto;
}

/*------------------------Proyectos--------------------------*/
#proyectos{
	margin: 50px 50px 0 50px;
}
#proyectos .proyectos_contenedor{
	display: flex;
	justify-content: center;
	gap: 20px;
	overflow: auto;/* scroll horizontal*/
	padding: 20px 0;
}
#proyectos .proyectos_contenedor .tarjeta_proyecto{
	background: #0f2a23;
	border: 2px solid #00FF00;
	padding: 20px;
	min-width: 300px;
	max-width: 350px;
	flex: 0 0 auto;
}

